[user]
	name = rynkjm
	email = rynkjm@gmail.com
[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[alias]
	st = status
	co = checkout
	bra = branch
	c = commit
	cancel = rest --soft HEAD^
	today = log --oneline --since='12 hour ago'
	mer = merge
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	ad = add
[github]
	user = rynkjm
